In [31]:
import pandas as pd
import numpy as np 

df = pd.read_excel('assets/capacity-booked.xlsx', sheet_name='matrix', header=[0,1])
df.head()

  Unnamed: 0_level_0   2016                                                   \
          Row Labels      1      2      3      4      5      6      7      8
0          CAM Daily  1.360  1.257  0.945  1.038  1.237  1.425  0.970  1.859
1        CAM Monthly  0.018  1.029  0.864  0.776  0.752  0.559  0.760  0.712
2      CAM Quarterly  0.108  0.108  0.108  0.083  0.083  0.083  0.075  0.075
3     CAM Within-day  0.305  0.421  0.277  0.192  0.214  0.102  0.130  0.171
4         CAM Yearly  0.228  0.228  0.228  0.228  0.228  0.228  0.228  0.228

          ... 2044                                 2045
       9  ...    4   5   6   7   8   9  10  11  12    1
0  1.358  ...  NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
1  1.302  ...  NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
2  0.075  ...  NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
3  0.198  ...  NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
4  0.228  ...  NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN

[5 rows x 349 columns]

In [32]:
df_2 = pd.DataFrame(df.to_records())
df_2

,index,"('Unnamed: 0_level_0', 'Row Labels')","(2016, 1)","(2016, 2)","(2016, 3)","(2016, 4)","(2016, 5)","(2016, 6)","(2016, 7)","(2016, 8)",...,"(2044, 4)","(2044, 5)","(2044, 6)","(2044, 7)","(2044, 8)","(2044, 9)","(2044, 10)","(2044, 11)","(2044, 12)","(2045, 1)"
0,0,CAM Daily,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,CAM Monthly,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,CAM Quarterly,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,CAM Within-day,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,CAM Yearly,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Legacy,40.656,39.939,39.807,39.580,39.336,39.422,39.360,39.325,...,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488
6,6,Yearly (OS),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [39]:
df_2.drop(["index"], axis=1,inplace=True)
df_2

,"(2016, 1)","(2016, 2)","(2016, 3)","(2016, 4)","(2016, 5)","(2016, 6)","(2016, 7)","(2016, 8)","(2016, 9)","(2016, 10)",...,"(2044, 5)","(2044, 6)","(2044, 7)","(2044, 8)","(2044, 9)","(2044, 10)","(2044, 11)","(2044, 12)","(2045, 1)",capacity_type
0,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,1.358,1.744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAM Daily
1,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,1.302,1.038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAM Monthly
2,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,0.075,0.333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAM Quarterly
3,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,0.198,0.214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAM Within-day
4,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,1.563,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAM Yearly
5,40.656,39.939,39.807,39.580,39.336,39.422,39.360,39.325,39.348,37.692,...,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,Legacy
6,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,Yearly (OS)

In [41]:
df_2.set_index('capacity_type', drop=True, inplace=True)
df_2

,"(2016, 1)","(2016, 2)","(2016, 3)","(2016, 4)","(2016, 5)","(2016, 6)","(2016, 7)","(2016, 8)","(2016, 9)","(2016, 10)",...,"(2044, 4)","(2044, 5)","(2044, 6)","(2044, 7)","(2044, 8)","(2044, 9)","(2044, 10)","(2044, 11)","(2044, 12)","(2045, 1)"
capacity_type,,,,,,,,,,,,,,,,,,,,,
CAM Daily,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,1.358,1.744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAM Monthly,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,1.302,1.038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAM Quarterly,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,0.075,0.333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAM Within-day,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,0.198,0.214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAM Yearly,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,1.563,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Legacy,40.656,39.939,39.807,39.580,39.336,39.422,39.360,39.325,39.348,37.692,...,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488
Yearly (OS),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [42]:
df_3 = pd.DataFrame(df_2.to_records())
df_3

,capacity_type,"(2016, 1)","(2016, 2)","(2016, 3)","(2016, 4)","(2016, 5)","(2016, 6)","(2016, 7)","(2016, 8)","(2016, 9)",...,"(2044, 4)","(2044, 5)","(2044, 6)","(2044, 7)","(2044, 8)","(2044, 9)","(2044, 10)","(2044, 11)","(2044, 12)","(2045, 1)"
0,CAM Daily,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,1.358,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAM Monthly,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,1.302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CAM Quarterly,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,0.075,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CAM Within-day,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,0.198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CAM Yearly,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Legacy,40.656,39.939,39.807,39.580,39.336,39.422,39.360,39.325,39.348,...,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488
6,Yearly (OS),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [43]:
df_3 = df_3.fillna(0)
df_3.head()

,capacity_type,"(2016, 1)","(2016, 2)","(2016, 3)","(2016, 4)","(2016, 5)","(2016, 6)","(2016, 7)","(2016, 8)","(2016, 9)",...,"(2044, 4)","(2044, 5)","(2044, 6)","(2044, 7)","(2044, 8)","(2044, 9)","(2044, 10)","(2044, 11)","(2044, 12)","(2045, 1)"
0,CAM Daily,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,1.358,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CAM Monthly,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,1.302,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CAM Quarterly,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,0.075,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CAM Within-day,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,0.198,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CAM Yearly,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
df_3 = df_3.rename(columns=lambda x: x.replace(',','.'))

In [53]:
df_3

,capacity_type,2016. 1,2016. 2,2016. 3,2016. 4,2016. 5,2016. 6,2016. 7,2016. 8,2016. 9,...,2044. 4,2044. 5,2044. 6,2044. 7,2044. 8,2044. 9,2044. 10,2044. 11,2044. 12,2045. 1
0,CAM Daily,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,1.358,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,CAM Monthly,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,1.302,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,CAM Quarterly,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,0.075,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,CAM Within-day,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,0.198,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,CAM Yearly,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
5,Legacy,40.656,39.939,39.807,39.580,39.336,39.422,39.360,39.325,39.348,...,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488
6,Yearly (OS),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [54]:
from datetime import datetime

In [59]:
df4 = df_3.set_index('capacity_type', drop=True)
df4.head()

,2016. 1,2016. 2,2016. 3,2016. 4,2016. 5,2016. 6,2016. 7,2016. 8,2016. 9,2016. 10,...,2044. 4,2044. 5,2044. 6,2044. 7,2044. 8,2044. 9,2044. 10,2044. 11,2044. 12,2045. 1
capacity_type,,,,,,,,,,,,,,,,,,,,,
CAM Daily,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,1.358,1.744,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CAM Monthly,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,1.302,1.038,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CAM Quarterly,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,0.075,0.333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CAM Within-day,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,0.198,0.214,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CAM Yearly,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,1.563,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
df5 = df4.rename_axis(index=None, columns=None)
df5.head()

,2016. 1,2016. 2,2016. 3,2016. 4,2016. 5,2016. 6,2016. 7,2016. 8,2016. 9,2016. 10,...,2044. 4,2044. 5,2044. 6,2044. 7,2044. 8,2044. 9,2044. 10,2044. 11,2044. 12,2045. 1
CAM Daily,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,1.358,1.744,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CAM Monthly,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,1.302,1.038,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CAM Quarterly,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,0.075,0.333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CAM Within-day,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,0.198,0.214,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CAM Yearly,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,1.563,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
df5.columns = pd.to_datetime(df5.columns).to_period('M')
df5

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,...,2044-04,2044-05,2044-06,2044-07,2044-08,2044-09,2044-10,2044-11,2044-12,2045-01
CAM Daily,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,1.358,1.744,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
CAM Monthly,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,1.302,1.038,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
CAM Quarterly,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,0.075,0.333,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
CAM Within-day,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,0.198,0.214,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
CAM Yearly,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,1.563,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Legacy,40.656,39.939,39.807,39.580,39.336,39.422,39.360,39.325,39.348,37.692,...,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488,0.488
Yearly (OS),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [65]:
df5.to_csv(r'assets/cleaned_data.csv')

In [7]:
import pandas as pd
ff = pd.read_csv(r'assets/cleaned_data.csv')
ff.head()

,Capacity_Type,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,...,2044-04,2044-05,2044-06,2044-07,2044-08,2044-09,2044-10,2044-11,2044-12,2045-01
0,CAM Daily,1.360,1.257,0.945,1.038,1.237,1.425,0.970,1.859,1.358,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CAM Monthly,0.018,1.029,0.864,0.776,0.752,0.559,0.760,0.712,1.302,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CAM Quarterly,0.108,0.108,0.108,0.083,0.083,0.083,0.075,0.075,0.075,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CAM Within-day,0.305,0.421,0.277,0.192,0.214,0.102,0.130,0.171,0.198,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CAM Yearly,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,0.228,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
ff = ff.T
ff.columns = ff.iloc[0]
ff.head()

Capacity_Type,CAM Daily,CAM Monthly,CAM Quarterly,CAM Within-day,CAM Yearly,Legacy,Yearly (OS)
Capacity_Type,CAM Daily,CAM Monthly,CAM Quarterly,CAM Within-day,CAM Yearly,Legacy,Yearly (OS)
2016-01,1.36,0.018,0.108,0.305,0.228,40.656,0.0
2016-02,1.257,1.029,0.108,0.421,0.228,39.939,0.0
2016-03,0.945,0.864,0.108,0.277,0.228,39.807,0.0
2016-04,1.038,0.776,0.083,0.192,0.228,39.58,0.0

In [9]:
ff.to_csv(r'assets/capacity_booked.csv')

In [2]:
import pandas as pd 
of = pd.read_clipboard()
of.head()

   Year retail_prices wholesale_prices      mark_up
0  2008   70,36911261      60,11994816  10,37567272
1  2009   69,50233702      58,88612961  10,68541427
2  2010    65,8219926      52,43453152  13,38746107
3  2011   65,45837967      53,18759445  12,27078522
4  2012   66,37323093      53,40831944  12,96491149

In [3]:
of.to_csv(r'assets/markup-electricity.csv')

In [4]:
el = pd.read_excel('assets/markup_elect.xlsx', sheet_name='electricity')
gs = pd.read_excel('assets/markup_gas.xlsx', sheet_name='gas')
el.head()

   Year  Country  retail_prices  wholesale_prices    mark_up
0  2008  Austria      67.800000         62.115132   5.684868
1  2008  Germany      80.100000         62.111426  17.988574
2  2008  Denmark      80.200000         53.362222  26.837778
3  2008    Spain      72.205336         58.010607  14.194729
4  2008  Finland      55.000000         46.569827   8.430173

In [5]:
gs.head()

   year         country  retail_prices  wholesale_prices     markup
0  2012         Austria      38.060000         25.627169  12.432831
1  2012         Belgium      47.262810         24.638890  22.623920
2  2012        Bulgaria      35.631242         41.796400  -6.165158
3  2012  Czech Republic      37.171968         35.010135   2.161833
4  2012         Germany      44.431457         25.949825  18.481631

In [14]:
el = el.loc[el['Country'] != 'EU average']
el.Country.value_counts()

   Year  Country  retail_prices  wholesale_prices    mark_up
0  2008  Austria      67.800000         62.115132   5.684868
1  2008  Germany      80.100000         62.111426  17.988574
2  2008  Denmark      80.200000         53.362222  26.837778
3  2008    Spain      72.205336         58.010607  14.194729
4  2008  Finland      55.000000         46.569827   8.430173

In [17]:
gs = gs.loc[gs.country != 'EU']
gs.country.value_counts()

Austria            7
Belgium            7
The Netherlands    7
Sweden             7
Spain              7
Slovenia           7
Slovakia           7
Romania            7
Portugal           7
Poland             7
Latvia             7
Luxembourg         7
Lithuania          7
Italy              7
Ireland            7
Hungary            7
Greece             7
Great Britain      7
France             7
Finland            7
Estonia            7
Denmark            7
Germany            7
Czech Republic     7
Bulgaria           7
Croatia            6
Name: country, dtype: int64

In [22]:
elc = pd.DataFrame(el)
elc = el.groupby('Year')['retail_prices', 'wholesale_prices','mark_up'].mean()
elc.head()

<ipython-input-22-1b4630d53868>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  elc = el.groupby('Year')['retail_prices', 'wholesale_prices','mark_up'].mean()

      retail_prices  wholesale_prices    mark_up
Year
2008      70.495621         60.119948  10.375673
2009      69.571544         58.886130  10.685414
2010      65.821993         52.434532  13.387461
2011      65.458380         53.187594  12.270785
2012      66.479598         53.493910  12.985689

In [23]:
elc

      retail_prices  wholesale_prices    mark_up
Year
2008      70.495621         60.119948  10.375673
2009      69.571544         58.886130  10.685414
2010      65.821993         52.434532  13.387461
2011      65.458380         53.187594  12.270785
2012      66.479598         53.493910  12.985689
2013      63.573615         51.005731  12.567884
2014      61.515254         46.270542  15.244712
2015      60.506558         41.626325  18.880233
2016      58.325063         37.559329  20.765734
2017      54.844279         38.628866  16.216213
2018      59.940390         45.332400  14.607990

In [25]:
gsc = gs.groupby('year')['retail_prices', 'wholesale_prices','markup'].mean()
gsc.head()

<ipython-input-25-cbcd50d65cf3>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  gsc = gs.groupby('year')['retail_prices', 'wholesale_prices','markup'].mean()

      retail_prices  wholesale_prices     markup
year
2012      37.381826         30.415475   6.966351
2013      34.476013         29.687363   4.788650
2014      34.600065         26.296911   8.303154
2015      30.961224         22.505151   8.456073
2016      27.310804         16.679717  10.630387

In [26]:
gsc.to_csv(r'assets/gas_markup.csv')
elc.to_csv(r'assets/electricity_markup.csv')

In [1]:
import pandas as pd

ren = pd.read_clipboard()
# ren.to_csv(r'assets/covid_renewable.csv')
ren.head()

,YEAR,TOTAL,TRADED,VOLUME,(TWH),SHARE,CROSS-ZONAL,(%),SHARE.1,DOMESTIC,(%).1
0,H1-2017,36.1,23%,77%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H1-2018,41.7,22%,78%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1-2019,49.3,35%,65%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H1-2020,61.7,32%,68%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
ren.drop(['(TWH)',	'SHARE',	'CROSS-ZONAL','(%)','SHARE.1', 'DOMESTIC', '(%).1'], axis=1, inplace=True)
ren.columns = ['year', 'total_traded_volume', 'cross_zonal_share', 'domestic_share']
ren.head()

      year  total_traded_volume cross_zonal_share domestic_share
0  H1-2017                 36.1               23%            77%
1  H1-2018                 41.7               22%            78%
2  H1-2019                 49.3               35%            65%
3  H1-2020                 61.7               32%            68%

In [10]:
ren.cross_zonal_share = ren.cross_zonal_share.str.rstrip('%').astype(int)
ren.domestic_share = ren.domestic_share.str.rstrip('%').astype(int)
ren.head()

      year  total_traded_volume  cross_zonal_share  domestic_share
0  H1-2017                 36.1                 23              77
1  H1-2018                 41.7                 22              78
2  H1-2019                 49.3                 35              65
3  H1-2020                 61.7                 32              68

In [16]:
ren['czs'] = ren.total_traded_volume * ren.cross_zonal_share / 100
ren['dms'] = ren.total_traded_volume * ren.domestic_share / 100
ren.head()

,year,total_traded_volume,cross_zonal_share,domestic_share,czs,dms
0,H1-2017,36.1,23,77,8.303,27.797
1,H1-2018,41.7,22,78,9.174,32.526
2,H1-2019,49.3,35,65,17.255,32.045
3,H1-2020,61.7,32,68,19.744,41.956

In [18]:
ren.drop(['cross_zonal_share', 'domestic_share'], axis=1, inplace=True)
ren.to_csv(r'assets/electricity_trade.csv')